{% extends "layout.html" %}
{% block title %}
{% endblock %}
{% block main %}

        <div class="homeHalfContainer">
            <h1 class="homeHeader">Join a bulk order near you</h1>
            <h2 class="homeSubheader">Order together to save money and protect the planet</h2>
            <form actions="{{ url_for('location') }}" method="post">
                <div class="searchBar">
                <input class="homeSearch" type="text" id="location" placeholder="Search...">
                <a href="{% url 'nearby' %}"><input class="searchArrow" value=">" type="button"></input></a>
            </div>
            </form>

        </div>
{% endblock %}